<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<false/>
	</dict>
	<key>DummyAudioPath</key>
	<string>$(PROJECT_DIR)/../Audio/arkist - fill your coffee.m4a</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>EasyMusic</string>
</dict>
</plist>
