<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<false/>
	</dict>
	<key>Track Paths</key>
	<dict>
		<key>Track #1</key>
		<string>$(PROJECT_DIR)/../Audio/track #1.aif</string>
		<key>Track #2</key>
		<string>$(PROJECT_DIR)/../Audio/track #2.aif</string>
		<key>Track #3</key>
		<string>$(PROJECT_DIR)/../Audio/track #3.aif</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app plays music from your library</string>
</dict>
</plist>
